@use "tcolor.scss";
@use "space.scss";

#chat-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 100vh;
    .form {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        left: calc(50% - 200px);
        top: 50%;
    }
    #messages div:has(*) {
        height: 50vh;
        padding: 20px 50px;
        max-width: 800px;
        margin: 0 auto;
        overflow: auto;
        background-color: tcolor.$white;
        border-radius: 15px;
        border: 3px solid tcolor.$skeyblue;
    }
}
#chat-histories {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    ul {
    list-style: none;
    padding: 0;
    li {
      margin: 15px 0;
    }
  }
}


