body {
    background-color: skyblue;
}

body * {
    font-size: 20px;
}


input[type=text] {
    width: 50%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: #04AA6D;
    color: #ffffff;
    border-color: #04AA6D;
    padding: 12px;
}
