@import "colors";
@import "space";

body {
    background-color: $skeyblue;
    font-size: map-get($spacers, 20);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: map-get($spacers, 10);
}
