@import "colors";
@import "space";

.form {
    max-width: 313px;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 156px);
    left: calc(50% - 156px);
    background: $white;
    padding: map-get($spacers, 20);
    border-radius: map-get($spacers, 15);
    border: 2px solid $green;
    .title {
        font-size: map-get($spacers, 28);
        text-transform: uppercase;
    }
    a {
        font-size: map-get($spacers, 16);
    }
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: map-get($spacers, 10);
        gap: map-get($spacers, 10);
        input {
            font-size: map-get($spacers, 16);
            padding: map-get($spacers, 10);
        }
        input[type=text] {
            padding: map-get($spacers, 12);
            margin: map-get($spacers, 10) 0;
            box-sizing: border-box;
        }
        button[type="submit"] {
            font-size: map-get($spacers, 16);
            background-color: $green;
            color: $white;
            border-color: $green;
            padding: map-get($spacers, 12);
        }
    }


    .alert {
        &.alert-danger:has(*) {
            color: $red;
            margin-bottom: map-get($spacers, 15);
            * {
                font-size: map-get($spacers, 16);
            }
            li {
                list-style: none;
            }
        }
    }
    .checkbox {
        label {
            display: flex;
            align-items: center;
            flex-direction: row;
            cursor: pointer;
        }

        // The visual box
        label::before {
            content: '';
            width: 20px;
            height: 20px;
            border: 2px solid $black; // Your custom border
            border-radius: 4px;
            margin-right: 10px;
            transition: background 0.2s;
        }
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            width: 100%;
            height: map-get($spacers, 20);
        }
        input:checked + label::before {
            background-color: $green;
            border-color:  $green;
            // Add a checkmark icon or unicode character here
            content: '✓';
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        label {
            font-size: 1rem;
        }
    }
}


